@model Part60AppBViewModel


@{
    var site = "http://placeimg.com/180/150/any";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var heading = Model.SectionNumber == "1" ? "Introduction" : Model.SectionNumber;
}
<div class="container-fluid">

    <!--NAME OF FILE-->
    <h1>| @Model.Regulation | @heading</h1>
    <hr />
    <div class="row">
        <div class="col-md-9">

            <!--BREADCRUMB-->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
                    <li class="breadcrumb-item">@Model.Regulation</li>
                    <li class="breadcrumb-item" aria-current="page">@heading</li>
                </ol>
            </nav>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Table of Contents
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">

                    @for (var i = 0; i < @Model.SectionHeadingList.Count; i++)
                    {
                        if (Model.SectionNumberList[i] == "Full Regulation")
                        {
                            <li><a href="~/Part60AppB/@Model.SectionNumberList[i]">@Model.SectionNumberList[i]</a></li>
                            continue;
                        }

                        if (Model.SectionNumberList[i] == "1")
                        {
                            <li><a href="~/Part60AppB/@Model.SectionNumberList[i]">@Model.SectionNumberList[i] - @Model.SectionHeadingList[i]</a></li>
                            continue;
                        }

                        <li><a href="~/Part60AppB/@Model.SectionNumberList[i]">@Model.SectionNumberList[i] - @Model.SectionHeadingList[i] - @Model.SectionNameList[i]</a></li>
                    }

                </ul>
            </div>
            <div style="max-height: 650px; overflow: auto; margin-top: 10px" id="home1">
                @Html.Raw(Model.Content)
            </div>
            <!--BACK TO TOP BUTTON-->
            <button onclick="topFunction()" type="button" class="btn btn-default">Back to Top</button>
        </div><!--END LEFT COLUMN-->
        <!--RIGHT COLUMN - SIDE WELL FOR SPONSORED / GOOGLE ADS-->
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="text-center">Sponsored Listings / Google Ads</p>
                </div>
                <div class="panel-body text-center">
                    <a href="#" style="text-decoration: none">
                        <img class="img-thumbnail" src="@site" alt="Business 1" title="Business 1" />
                    </a>
                    <a href="#" style="font: white; text-decoration: none">
                        <img class="img-thumbnail" src="@site" alt="Business 2" title="Business 2" />
                    </a>
                    <a href="#" style="font: white; text-decoration: none">
                        <img class="img-thumbnail" src="@site" alt="Business 3" title="Business 3" />
                    </a>PGP
                </div>
                <div class="panel panel-footer">
                    <p>
                        If you would like to advertise your CEMS business on this site, please submit a request via the Marketing link.
                    </p>
                    <p>
                        @*TRIGGER CONTACT MODAL*@
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#MarketingModal">Marketing &raquo;</button>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <hr />
    <!--GOOGLE ADDS BOTTOM OF PAGE-->
    <div class="well text-center">
        <h2>Google Ads Here</h2>
    </div>
</div>

<script>
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        $("#home1").animate({ scrollTop: 0 }, "slow");
    }
</script>
