@model dynamic

@{
    ViewBag.Title = "ECMPS Reporting Guidance for the GHG-MRR ";
    var site = "http://placeimg.com/180/150/any";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">

    <!--NAME OF FILE-->
    <h1>| @ViewBag.Title</h1>
    <hr />
    <div class="row">
        <div class="col-md-9">

            <!--BREADCRUMB-->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
                    <li class="breadcrumb-item">@ViewBag.Title</li>
                    <li class="breadcrumb-item" aria-current="page">Full Manual</li>
                </ol>
            </nav>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Table of Contents
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="~/ECMPS/GHG">Full Manual</a></li>
                    <li class="divider"></li>
                    <li><a href="#">CSS</a></li>
                    <li><a href="#test">JavaScript</a></li>
                </ul>
            </div>
            <div style="max-height: 650px; overflow: auto; margin-top: 10px" id="home1">
                <h3>Section 1</h3>
                <p>
                    Lobortis in urna praesent per sapien lobortis fusce sociis accumsan. Iaculis facilisi class luctus. Lacinia ad vehicula vehicula per fringilla penatibus est nec vel aenean dapibus nibh. Scelerisque sed luctus posuere porttitor tellus orci elementum inceptos nostra ultricies nullam dictum. Id laoreet inceptos facilisis fusce sed massa phasellus parturient ridiculus suspendisse. Vivamus dis quam odio. A orci urna cursus lacinia egestas pretium viverra placerat. Dictumst placerat nulla blandit potenti montes nec eros accumsan morbi. A habitasse sit lacus.
                </p>
                <p>
                    Leo felis, iaculis ad justo sodales dictumst magna. Faucibus, metus lorem bibendum class quam nisl imperdiet diam nisl volutpat tellus nulla? Netus tempus duis libero et blandit augue taciti aptent, habitant senectus porta. Vulputate himenaeos luctus netus curabitur vel quis himenaeos aliquet a phasellus ut. Rhoncus sodales nulla nulla aliquam sodales pharetra quam duis dui cubilia condimentum urna. Magnis curabitur.
                </p>
                <h3>Section 2</h3>

                <p>
                    Dapibus ipsum sociosqu eleifend pharetra montes fringilla faucibus proin proin dapibus porttitor nisi? Fames duis fames netus nam primis molestie egestas consequat. Sem lobortis nascetur mattis! Massa, rhoncus lobortis vitae metus orci rutrum. Mollis rutrum aenean libero dapibus vehicula penatibus gravida justo a montes neque per? Rutrum lacinia dolor himenaeos donec vel; penatibus venenatis nostra dictum fermentum magna tempus. Vitae est ac quam adipiscing ad enim himenaeos ridiculus primis. Ullamcorper lobortis blandit suscipit semper elit dictum phasellus etiam lorem luctus morbi.
                </p>
                <p>
                    Et, sagittis penatibus adipiscing. Commodo nisi etiam accumsan. Rhoncus montes gravida laoreet habitant laoreet dis congue amet adipiscing cum sollicitudin vehicula. Volutpat id dictumst duis leo ipsum cursus sagittis pellentesque interdum facilisis justo. Senectus posuere nascetur accumsan urna fusce suspendisse varius rhoncus habitasse. Dolor himenaeos placerat orci sem rutrum fames. Porta sociis senectus id eleifend viverra mus id augue. Eu fermentum tempor pharetra ultricies dictum suscipit ligula primis. Tincidunt massa non eget vulputate hendrerit hendrerit tempor tellus platea. Cursus aptent nec porta gravida mattis senectus! Tincidunt.
                </p>
                <p>
                    Leo sed a pulvinar facilisi luctus feugiat fames cubilia vehicula risus. Sollicitudin convallis lacinia nisi dolor! Sodales lorem interdum euismod mus pulvinar viverra, cursus dolor urna. Pellentesque montes neque leo. Auctor risus blandit, metus amet inceptos eu. Cras lectus praesent magnis. Ornare morbi ultrices velit elementum sem fusce. Netus tortor risus consequat iaculis condimentum quam facilisis interdum tristique odio. Nisi penatibus auctor, curae; fringilla auctor porttitor dolor euismod. Tortor ullamcorper porttitor.
                </p>
                <p>
                    Fringilla phasellus egestas pharetra conubia fusce luctus? Erat scelerisque aliquet volutpat amet vestibulum. Sed montes himenaeos porttitor cursus facilisis et scelerisque quisque molestie. Consectetur, conubia tempus sollicitudin. Scelerisque aenean gravida non vel nunc! Lectus turpis est aptent massa lorem pharetra laoreet ridiculus sapien bibendum curabitur ridiculus. Mi consectetur turpis netus duis in libero imperdiet consectetur nunc nibh per. Sollicitudin commodo.
                </p>


                <p>
                    Pellentesque sagittis nibh sociosqu orci neque cras ac habitant aliquam lorem phasellus parturient! Per purus habitant blandit nisi nisi cum conubia montes. Potenti sit quis cubilia porta vel diam? Montes nascetur ridiculus augue. Erat rhoncus pellentesque mollis. Facilisis praesent lectus pulvinar natoque vehicula nec gravida, turpis per? Non justo pretium semper congue fames donec viverra. Malesuada tempor sapien rutrum ut.
                </p>
                <p>
                    Elit quis euismod aliquet arcu non mauris duis malesuada pulvinar. Non ultrices sed libero platea at proin et class leo. Orci ultricies gravida primis condimentum laoreet habitasse. At nulla cum ad habitant. A consectetur nisl accumsan gravida fusce. Sit, non elit blandit parturient. Taciti netus arcu volutpat vehicula hendrerit dolor convallis vivamus sociosqu diam ornare. Curae; arcu pretium arcu ac adipiscing at aenean. Lobortis vitae aptent sollicitudin eros.
                </p>
                <p>
                    Nam cum lacinia mi consectetur sociis iaculis. Sapien, adipiscing taciti laoreet tempor facilisi sapien! Purus morbi faucibus consequat commodo justo neque ipsum imperdiet. Tellus varius tincidunt aliquet sodales tempus nam ultricies nibh praesent. Arcu massa, nullam fusce donec inceptos quam aenean. Nullam facilisis dictumst a aenean nascetur vivamus ut? Scelerisque gravida inceptos vivamus augue mollis consequat orci ante eros rutrum. Vitae faucibus et inceptos id, turpis viverra habitant sodales pharetra dignissim. Cubilia tortor eget dapibus penatibus conubia duis nascetur natoque sociosqu augue conubia. Elementum purus primis senectus turpis elit phasellus? Id consequat nullam vehicula.
                </p>
                <h3 id="test">Section 3</h3>
                <p>
                    Cursus curae; habitasse adipiscing lacus pulvinar eget nisi diam ad habitasse penatibus nisl. Fusce nascetur porta purus eros dui id lectus fermentum, netus facilisi posuere rhoncus. Ac; felis porttitor sagittis feugiat vivamus fermentum. Semper vitae, nascetur platea erat purus. Dui vitae gravida nisi curae; tristique ligula eleifend est tempus posuere.
                </p>
            </div>
            <button onclick="topFunction()" type="button" class="btn btn-default">Back to Top</button>
        </div>

        <!--SIDE WELL FOR SPONSORED / GOOGLE ADS-->
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="text-center">Sponsored Listings / Google Ads</p>
                </div>
                <div class="panel-body text-center">
                    <a href="#" style="text-decoration: none">
                        <img class="img-thumbnail" src="@site" alt="Business 1" title="Business 1" />
                    </a>
                    <a href="#" style="font: white; text-decoration: none">
                        <img class="img-thumbnail" src="@site" alt="Business 2" title="Business 2" />
                    </a>
                    <a href="#" style="font: white; text-decoration: none">
                        <img class="img-thumbnail" src="@site" alt="Business 3" title="Business 3" />
                    </a>
                </div>
                <div class="panel panel-footer">
                    <p>
                        If you would like to advertise your CEMS business on this site, please submit a request via the Marketing link.
                    </p>
                    <p>
                        @*TRIGGER CONTACT MODAL*@
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#MarketingModal">Marketing &raquo;</button>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <hr />
    <!--GOOGLE ADDS BOTTOM OF PAGE-->
    <div class="well text-center">
        <h2>Google Ads Here</h2>
    </div>
</div>

<script>
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        $("#home1").animate({ scrollTop: 0 }, "slow");
    }
</script>
