<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CEMS Study</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" href="/Resources/icons8_factory_64_QmM_icon.ico" type="image/x-icon">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="~/Views/Home/Index.cshtml" title="Home">
                <img src="~/Resources/AppLogo.png" alt="Home" width="200"/>
            </a>
        </div>

        <div class="collapse navbar-collapse text-center col-sm-10" id="main-navbar">
            <ul class="nav navbar-nav">
                <li><a href="#" title="Acronyms">Acronyms</a></li>
                <li><a href="#"title="Definitions">Definitions</a></li>
                <li><a href="#" title="Formulas">Formulas</a></li>
                <li><a href="#" title="Units of Measure">Units of Measure</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" title="40 CFR Regulations">40 CFR Regulations<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" title="40 CFR Part 75">Part 75</a></li>
                        <li><a href="#" title="40 CFR Part 75 Plain English">Part 75 Plain English</a></li>
                        <li><a href="#" title="40 CFR Part 75 Field Audit Manual">Part 75 Field Audit Manual</a></li>
                        <li><a href="#" title="40 CFR Part 75 Appendix D">Part 75 Appendix D</a></li>
                        <li><a href="#" title="40 CFR Part 60 Appendix B">Part 60 Appendix B</a></li>
                        <li><a href="#" title="40 CFR Part 60 Appendix F">Part 60 Appendix F</a></li>
                        <li><a href="#" title="40 CFR Part 63 Subpart UUUUU">Part 63 Subpart UUUUU</a></li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" title="Emissions Collection and Monitoring Plan System">ECMPS<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" title="ECMPS Monitoring Plan Reporting Instructions">Monitoring Reporting Instructions</a></li>
                        <li><a href="#" title="ECMPS Quality Assurance and Certification Reporting Instructions">QA Reporting Instructions</a></li>
                        <li><a href="#" title="ECMPS Emissions Reporting Instructions">Emissions Reporting Instructions</a></li>
                        <li><a href="#" title="ECMPS Reporting Requirements Related to the Amendments to the Protocol Gas Verification Program and Minimum Competency Requirements for Air Emissions Testing">PGV Program and Air Emissions Testing</a></li>
                        <li><a href="#" title="ECMPS Reporting Guidance for the GHG-MRR">Reporting Guidance for the GHG-MRR</a></li>
                        <li><a href="#" title="MATS Transition PDF Reporting Instructions">MATS Transition PDF Reporting Instructions</a></li>
                        <li><a href="#" title="MATS Guidance on Temporary E-Reporting ">MATS Guidance on Temporary E-Reporting </a></li>

                    </ul>
                </li>
                <li><a href="#" title="Contact" data-toggle="modal" data-target="#ContactModal">Contact</a></li>
                <li><a href="#" title="Marketing" data-toggle="modal" data-target="#MarketingModal">Marketing</a></li>
            </ul>
        </div>

    </div>
</nav>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <div class="col-md-6">
            <p>&copy; @DateTime.Now.Year - CEMS Study - Pensacola, Florida - USA</p>
        </div>
        <div class="col-md-6">
            <p style="text-align: right">J. Buchanan</p>
        </div>

    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
